body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    color: #ffffff;

    background-color: #8996a6;
    
}

.inner-page {
    color: #ffffff;

    background-color: #849d8f;
    
}



.link-light {
    color: #ffffff; 
}

.link-dark {
    color: #323232;
}

.link-light:hover {
    color: #ffbc9e;
}

.link-light:focus {
    color: #ffbc9e;
}

.link-dark:hover {
    color: #e84d37;
}

.link-dark:focus {
    color: #e84d37;
}

.price {
    font-size: 45px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 700;
}

.weight {
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 700
}

.button {
    font-weight: 700;
    color: #ffffff;
    
}

.button-large {
    font-size: 32px;
    line-height: 44px;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843)

}
.button-small {
    font-size: 18px;
    line-height: 24px;
    box-shadow: 0px 1px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #ca3824, #f26843);

}

.button:focus,
.button:hover {
    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
    color: #fceeec;
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}




.site-navigation {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    
}

.catalog-nav {
    display: none;
}

.site-navigation ul {
    list-style: none;
}

.search-form {
    display: none; 
}

.email-form {
    display: none;
}
.user-navigation {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;

}

.user-navigation  ul {
    list-style: none;
    
}

.user-navigation a {
    text-decoration: none;
}

.contacts {
    display: none;  
}

.connection-form {
    display: none;
}

.visually-hidden {
    display: none;
}


.features {
    background-image: url("../img/features-fon.jpg");
}

.features b {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #323232;
} 

.features p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
} 

.blog {
    background-image: url("../img/blog-fon.jpg");
}

.blog p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
}

.blog h1 a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
    color: #323232;
    text-decoration: underline;
}

.newsletter {
    background-color: #f8f7f4;
    border-image: url(../img/border-img.svg);
    border: 2px solid url(../img/border-img.svg);
}

.newsletter p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #5a5a5a;
}

.social-links {
    list-style: none;
}

.other-nav {
    list-style: none;
}

.other-nav a {
    font-size: 13px;
    line-height: 18px;
    color: inherit;
    font-weight: 400;
}

.other-nav .for-suppliers {
    
    font-weight: 700;
}

.copyright p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #fefefe;
}

.copyright a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #fefefe;
}

.site-navigation .active {
    color: #ffffff;
    background-color: #d07058;
}

.user-navigation .has-products {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #323232;
    background-color: #ffffff;
} 

.site-navigation a:hover {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #323232;
    background-color: #f7f6f3; 
}

.user-navigation a:hover {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #323232;
    background-color: #ffffff;
}

.product-form {
    display: none;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs li {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
}

.page-title {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    color: #ffffff;
}

.product a {
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
}